<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Report</title>
</head>
<body>
    <h1>Power BI Report</h1>

    <iframe title="PowerBI Report" width="100%" height="600" src="https://app.powerbi.com/reportEmbed?reportId=efc411e0-b826-459d-9f9d-597bb8d5f269&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&fbclid=IwAR0O7T81lFe3BGaIVCr3QV3yrNHj5lLHcsmTYAmWoyqNH_TLFxDSteom7Hk" frameborder="0" allowFullScreen="false"></iframe>

</body>
</html>
